<title>E-Commerce | Informática</title>

<!-- Conteúdo da Página - Portfólios -->
<div id="texto-topo" style="padding-bottom:30px;">
  <p>INFORMÁTICA</p>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-3 col-xs-12 left-menu">
      <div class="list-group">
        <span class="list-group-item top-menu">
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp; Categorias</span>
        <a routerLink="/destaques" class="list-group-item">Geral</a>
        <a routerLink="/informatica" class="list-group-item active">Informática</a>
        <a routerLink="/destaques" class="list-group-item">Eletrodomesticos</a>
        <a routerLink="/destaques" class="list-group-item">Eletroportáteis</a>
        <a routerLink="/destaques" class="list-group-item">Esporte e Lazer</a>
        <a routerLink="/destaques" class="list-group-item">Malas e Acessórios</a>
        <a routerLink="/destaques" class="list-group-item">Móveis</a>
        <a routerLink="/destaques" class="list-group-item">Música</a>
      </div>

    </div>

    <!-- Class Thumbnail -->
    <div id="thumbnail" class="col-md-3 col-xs-12">
      <div class="thumbnail">
        <img src="./assets/produtos/informatica/pc-gamer.png" alt="...">
        <div class="caption">
          <p>PC Gamer Rawar Mobabox RW251PVM INTEL I3 7100 8GB (Geforce GTX1050 de 2GB) 1TB </p>
          <p>

            <a style="margin-top:10px" href="#" class="btn btn-success" role="button">R$ 3.279,99</a>
            <a style="margin-top:10px" href="#" class="btn btn-default" role="button">Comprar</a>


          </p>
        </div>
      </div>
    </div>

    <div id="thumbnail" class="col-md-3 col-xs-12">
      <div class="thumbnail">
        <img src="./assets/produtos/informatica/pc-gamer1.png" alt="...">
        <div class="caption">
          <p>PC Gamer Rawar Armata RW252PVM INTEL I3 7400 8GB (Geforce GTX1050TI de 4GB) 1TB</p>
          <p>

            <a href="#" class="btn btn-success" role="button">R$ 3.449,99</a>
            <a href="#" class="btn btn-default" role="button">Comprar</a>

          </p>
        </div>
      </div>
    </div>

    <div id="thumbnail" class="col-md-3 col-xs-12">
      <div class="thumbnail">
        <img src="./assets/produtos/informatica/pc-gamer2.png" alt="...">
        <div class="caption">
          <p>PC Gamer Rawar Mobabox RW251PAZ INTEL I3 7100 8GB (Geforce GTX1050 de 2GB) 1TB</p>
          <p>

            <a href="#" class="btn btn-success" role="button">R$ 3.159,90</a>
            <a href="#" class="btn btn-default" role="button">Comprar</a>

          </p>
        </div>
      </div>
    </div>


    <div class="col-md-3 col-xs-12">
      <div class="thumbnail">
        <img src="./assets/produtos/informatica/notebook.png" alt="...">
        <div class="caption">
          <p>Notebook Dell Inspiron 15 Gaming i15-7567-A10P Intel Core i5 8GB (GeForce GTX 1050 com 4GB) 1TB Tela 15,6" TN Full
            HD " Windows 10 - Preto </p>
          <p>

            <a style="margin-top:10px" href="#" class="btn btn-success" role="button">R$ 3.279,99</a>
            <a style="margin-top:10px" href="#" class="btn btn-default" role="button">Comprar</a>

          </p>
        </div>
      </div>
    </div>

    <!-- Class Thumbnail -->
    <div class="col-md-3 col-xs-12">
      <div class="thumbnail">
        <img src="./assets/produtos/informatica/notebook1.png" alt="...">
        <div class="caption">
          <p style="padding-bottom:2.5%;">Notebook Dell 2 em 1 Inspiron I13-5378-A15C 7a Geração Intel Core i3 4GB 1TB Full HD 13.3 Windows10</p>
          <p>
            <br>

            <a href="#" class="btn btn-success" role="button">R$ 3.449,99</a>
            <a href="#" class="btn btn-default" role="button">Comprar</a>

          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-xs-12">
      <div class="thumbnail">
        <img style="width:88%" src="./assets/produtos/informatica/mouse.png" alt="...">
        <div class="caption">
          <br>
          <p>Mouse Wireless WM126 Preto - Dell</p>
          <p>
            <br>
            <br>

            <a href="#" class="btn btn-success" role="button">R$ 60,00</a>
            <a href="#" class="btn btn-default" role="button">Comprar</a>

          </p>
        </div>
      </div>
    </div>

  </div>
</div>
