<title>E-Commerce | Destaques</title>

<div class="sub-header">
  <img src="./assets/semana-consumidor.png" alt="imagem" class="image-header">
</div>

<div class="form-group input-group" id="consulta">
  <span class="input-group-addon" style="background-color:#FF6347">
      <i class="glyphicon glyphicon-search"></i>
  </span>
  <input name="consulta" id="txt_consulta" placeholder="O que você procura? :)" type="text" class="form-control">
</div>

<div style="padding-top: 10px;padding-bottom:30px;" id="texto-topo">
  <p>PRODUTOS EM DESTAQUE</p>
</div>

<div class="container">
  <div class="row">
      <div class="col-md-3 col-xs-12 left-menu">
          <div class="list-group">
              <span class="list-group-item top-menu">
                  <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp; Categorias</span>
              <a routerLink="/destaques" class="list-group-item active">Geral</a>
              <a routerLink="/informatica" class="list-group-item">Informática</a>
              <a routerLink="/destaques" class="list-group-item">Eletrodomesticos</a>
              <a routerLink="/destaques" class="list-group-item">Eletroportáteis</a>
              <a routerLink="/destaques" class="list-group-item">Esporte e Lazer</a>
              <a routerLink="/destaques" class="list-group-item">Malas e Acessórios</a>
              <a routerLink="/destaques" class="list-group-item">Móveis</a>
              <a routerLink="/destaques" class="list-group-item">Música</a>
          </div>

      </div>

 <!-- Class Thumbnail - Produtos -->
 <div id="thumbnail" class="col-md-3 col-xs-12">
  <div class="thumbnail">
      <img src="./assets/produtos/destaques/painel-bancada.png" alt="...">
      <div class="caption">
          <p>Painel Bancada para TV até 48" Navi Avelã - Móveis Bechara </p>
          <p>

                  <a style="margin-top:10px" href="#" class="btn btn-success" role="button">R$ 89,90</a>
                  <a style="margin-top:10px" href="#" class="btn btn-default" role="button">Comprar</a>


          </p>
      </div>
  </div>
</div>

<div id="thumbnail" class="col-md-3 col-xs-12">
  <div class="thumbnail">
      <img style="width:76%" src="./assets/produtos/destaques/iphone6.png" alt="...">
      <div class="caption">
          <p>Iphone 6 32GB Cinza Espacial, Tela 4.7" IOS 8, Câmera 8MP, 4G Processador 1.4 Ghz Dual Core - Apple</p>
          <p>

                  <a href="#" class="btn btn-success" role="button">R$ 1.799,00</a>
                  <a href="#" class="btn btn-default" role="button">Comprar</a>

          </p>
      </div>
  </div>
</div>

<div id="thumbnail" class="col-md-3 col-xs-12">
  <div class="thumbnail">
      <img src="./assets/produtos/destaques/sofa-living.png" alt="...">
      <div class="caption">
          <p>Sofá Living 3 Lugares Tecido Animale Retrátil e Reclinável Camurça</p>
          <p>

                  <a href="#" class="btn btn-success" role="button">R$ 599,00</a>
                  <a href="#" class="btn btn-default" role="button">Comprar</a>

          </p>
      </div>
  </div>
</div>


<div class="col-md-3 col-xs-12">
  <div class="thumbnail">
      <img src="./assets/produtos/destaques/guarda-roupa.png" alt="...">
      <div class="caption">
          <p>Guarda Roupa Solteiro 2 Portas Retrô Milão Móveis Bechara Branco </p>
          <p>

                  <a style="margin-top:10px" href="#" class="btn btn-success" role="button">319,90</a>
                  <a style="margin-top:10px" href="#" class="btn btn-default" role="button">Comprar</a>

          </p>
      </div>
  </div>
</div>

<!-- Class Thumbnail -->
<div class="col-md-3 col-xs-12">
  <div class="thumbnail">
      <img style="width:85%;" src="./assets/produtos/destaques/fogao.png" alt="...">
      <div class="caption">
          <p style="padding-bottom:2.5%;">Fogão Brastemp 6 Bocas BFS6N Branco Vidro Interno Removível</p>
          <p>
              <br>

                  <a href="#" class="btn btn-success" role="button">R$ 1.299,99</a>
                  <a href="#" class="btn btn-default" role="button">Comprar</a>

          </p>
      </div>
  </div>
</div>

<div class="col-md-3 col-xs-12">
  <div class="thumbnail">
      <img style="width:63%" src="./assets/produtos/destaques/passadeira-vapor.png" alt="...">
      <div class="caption">
          <br>
          <p>Passadeira a Vapor Profissional Prata - Suggar</p>
          <p>
              <br>
              <br>

                  <a href="#" class="btn btn-success" role="button">R$ 279,00</a>
                  <a href="#" class="btn btn-default" role="button">Comprar</a>

          </p>
      </div>
  </div>
</div>

