<title>E-Commerce | Home</title>

<!-- Imagem do sub-header logo após o navbar -->
<div class="sub-header">
  <img style="margin-bottom:0px;" src="/assets/ecommerce.png" alt="imagem" class="image-header">
</div>


<!-- Conteúdo do subheader -->
<div class="sub-header">
  <a href="produtos.html">
    <img src="/assets/menu-animado.gif" alt="imagem" class="image-header">
  </a>
</div>

<div id="redes-sociais">
  <p>Redes Sociais</p>
  <a href="http://www.facebook.com/" target="_blank">
    <img src="/assets/redes-sociais/facebook.svg" id="redesociais-logo">
  </a>
  <a href="https://br.linkedin.com/" target="_blank">
    <img src="/assets/redes-sociais/linked.svg" id="redesociais-logo">
  </a>
  <a href="https://plus.google.com/" target="_blank">
    <img src="/assets/redes-sociais/google.svg" id="redesociais-logo">
  </a>
</div>
